{%extends 'blog_app/base.html' %}

{% block content %}
<h1>{{blogpost.title}} </h1>
<p>
{{blogpost.text}}
</p>

<p class="text-muted">
    <i>Author: {{blogpost.owner}}</i><br/>
    <i>Status: {{blogpost.get_status_display}}</i><br/>
    <i>Created at: {{blogpost.updated_at}}</i><br/>
    <i>Published at: {{blogpost.published_at}}</i><br/>
    <i>Updated at: {{blogpost.updated_at}}</i>
</p>

{% with blogpost.comments.count as total_comments %}
<h2>
{{ total_comments }} comment{{ total_comments|pluralize }}:
</h2>
{% endwith %}


{%for comment in blogpost.comments.all%}
<div class="comment">
    <p class="info">
    Comment {{ forloop.counter }} by {{ comment.name }}
    {{ comment.created }}
    </p>
    {{ comment.body|linebreaks }}
</div>
{% empty %}
    <p>There are no comments.</p>
{% endfor %}

{%include 'blog_app/includes/comment_form.html' with post=blogpost %}

{%endblock%}

